li {
    font-family: "Helvetica Neue", 'Montserrat', sans-serif;
    color: rgb(242, 242, 247);
    font-size: 2.4em;
    font-weight: 400;
    font-size: 1em;
}

ul {
    margin-left: 60px;
    width: calc(100% - 72px) !important;
}

#footer-frame {
    background-color: rgb(28, 28, 30) !important;
    background-image: none !important;
}
.skills > p {
    margin-bottom: 0px !important;
}

h4 {
    margin-bottom: 10px;
}
h2 {
    padding-top: 40px !important;
    margin-bottom: 18px;
}

.job-sub > p {
    margin-bottom: 0px !important;
}

.download-pdf {
    display: inline-block;
    width: fit-content;
    height: min-content;
    font-family: "Helvetica Neue", 'Montserrat', sans-serif;
    color: rgb(242, 242, 247);
    background-color: rgb(28, 28, 30);
    padding: 8px 16px;
    z-index: 110;
    border-radius: 24px;
    margin-left: 12px;
    font-size: 1em;
    opacity: 1;
    animation: download-pdf-color-reverse 0.4s ease-in-out;
    overflow: hidden;
    text-decoration: none;
}


.download-pdf:hover {
    color: rgb(242, 242, 247);
    background-color: rgb(80, 168, 164);
    animation: download-pdf-color 0.4s ease-in-out;
}

@keyframes download-pdf-color {
    from {
        background-color: rgb(28, 28, 30);
    }
    to {
        background-color: rgb(80, 168, 164);
    }
}


@keyframes download-pdf-color-reverse {
    to {
        background-color: rgb(28, 28, 30);
    }
    from {
        background-color: rgb(80, 168, 164);
    }
}