
--event-height: 200px;
--now-point: 80%;

.timeline-frame {
}

.timeline-frame::before {
    height: 0.4em;
    width: 100%;
    background-color: rgb(242, 242, 247);
    display: block;
    border-radius: 0.2em;
    content: '';
    position: relative;
    top: calc(calc(var(--event-height, 200px) + 50px) + 0.1em);
}

.timeline-event {
    height: var(--event-height, 200px);
    display: flex;
    flex-direction: column;
}

.timeline-event > h5 {

}

.timeline-event > p {
    color: rgb(242, 242, 247);
    margin-bottom: 0;
}

.timeline-events {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: row;
}

.timeline-event:nth-child(4n) {
    margin-top: calc(var(--event-height, 200px) + 100px);
    justify-content: flex-end;
}
.timeline-connector:nth-child(4n - 1) {
    margin-top: calc(var(--event-height, 200px) + 50px);
}

.timeline-connector:nth-child(1) {
    margin-left: 2em;
}

.timeline-connector {
    height: calc(var(--event-height, 200px) + 50px);
    width: 0.18em;
    margin-right: 0.6em;
    background-color: rgb(242, 242, 247);
    border-radius: 0.09em;
}




.timeline-pulsating-circle {
    width: 2px;
    height: 2px;
    margin-top: var(--event-height, 200px);
}
.timeline-pulsating-circle:before {
    content: '';
    position: relative;
    left: -100px;
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgb(102, 212, 207);
    animation: pulse-ring 3s infinite;
}
@keyframes pulse-ring {
    0% {
        transform: scale(0.001);
   }
    80%, 100% {
        opacity: 0;
   }
}

@media (max-width: 1199px) { 
    .timeline-frame::after {
        height: 100%;
        width: 0.4em;
        background-color: rgb(242, 242, 247);
        display: block;
        border-radius: 0.2em;
        content: '';
        position: relative;
        left: 50%;
        top: -100%;
    }
    .timeline-frame::before {
        content: none;
    }
    .timeline-connector {
        display: none;
        width: calc(50% - 50px);
        height: 0.18em;
        margin-right: 0.6em;
        background-color: rgb(242, 242, 247);
        border-radius: 0.09em;
    }
    .timeline-events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap !important;
        justify-content: space-between;
        flex-flow: row;
    }
    .timeline-event {
        height: auto;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .timeline-event::before {
        content: '';
        height: 0.18em;
        width: 126%;
        background-color: rgb(242, 242, 247);
        display: block;
        border-radius: 0.2em;
        content: '';
        position: relative;
        margin-bottom: 10px;
    }
    .timeline-event:nth-child(4n)::before {
        margin-left: -25%;
    }
    .timeline-event:nth-child(2)::before {
        margin-top: 30px;
    }
    .timeline-event:nth-child(4n) {
        margin-left: 10%;
        margin-right: 0 !important;
    }
    .timeline-event {
        margin-right: 10%;
    }
    .timeline-pulsating-circle {
        margin-top: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 110px;
    }

    .timeline-pulsating-circle:before {
        display: inline-block;
        left: initial;
        margin-left: 0.4em;
    }
}